.page {
  box-sizing: border-box;
  padding: 0 24px;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px;
  font-size: 18px;
  font-style: normal;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  text-transform: lowercase;
}

.current-page {
  text-decoration: none;
  /* TODO: Убрать точку перед текущей страницей */
}

.header__logo-img {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  justify-self: end;
}

.section {
  padding: 120px 0;
}

.section-banner {
  position: relative;
  color: white;
  margin-bottom: 180px;
}

.section__cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: 757px;
  background-size: cover;
  background-image: url("../images/cover.jpg");
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.section-banner__elements-position {
  display: grid;
  height: 100%;
  padding: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.section__cover-title {
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30%;
  align-self: center;
}

.section__cover-title .span {
  display: block;
  margin: 20px;
}

.section__cover-title__first-word {
  text-align: start;
}

.section__cover-title__second-word {
  text-align: center;
}

.section__cover-title__third-word {
  text-align: end;
}

.section__cover-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__cover-description__text {
  display: inline;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 15px;
}

.section__cover-description__button {
  padding: 11px;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.section-lots {
  margin-bottom: 120px;
}

.section__h2-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.section-lots__title {
  padding: 0 40px;
}

.section__lots-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 25px;
  margin: 27px 0 30px 0;
}

.section__lots-list__item {
  width: auto;
  min-height: 596px;

  background-size: cover;
  background-position: center;
  color: white;
}

.section__lots-list__item__first {
  background-image: url("../images/card-lot-01.jpg");
}

.section__lots-list__item__second {
  background-image: url("../images/card-lot-02.jpg");
}

.section__lots-list__item__third {
  background-image: url("../images/card-lot-03.jpg");
}

.section__lots-list__item a {
  text-decoration: none;
}

.lots-list__item-container {
  position: relative;
  height: 100%;
}

.lots-list__item-container__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
}

.lots-list__item__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots-list__item__text {
  font-weight: 400;
  font-size: 20px;
  justify-self: end;
}

.section__view-more-link {
  padding: 0 40px;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}

.section-about {
  display: grid;
  grid-template-columns: 334px 693px;
  min-height: 596px;
  margin-bottom: 180px;
  gap: 25px;
}

.section-about__logo-padding {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.section__about-logo {
  width: 148px;
  height: 114px;
  background-size: cover;
}

.section-about__text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.section-about__title {
  margin-top: 136px;
}

.section__about-text {
  font-weight: 400;
  font-size: 20px;
  align-self: end;
  justify-self: end;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer__nav {
}

.socials {
}

.socials__list {
}

.socials-list__item {
}